In [51]:
import pandas as pd

In [55]:
df1 = pd.read_csv("result_nb.csv")
df2 = pd.read_csv("result_rf.csv")
df3 = pd.read_csv("result_lg.csv")
df4 = pd.read_csv("result_sgd.csv")
df5 = pd.read_csv("result_xgb.csv")
df6 = pd.read_csv("result_svc.csv")

In [57]:
df1['Sentiment_rf'] = df2['Sentiment_rf']
df1['Sentiment_lg'] = df3['Sentiment_lg']
df1['Sentiment_sgd'] = df4['Sentiment_sgd']
df1['Sentiment_xgb'] = df5['Sentiment_xgb']
df1['Sentiment_svm'] = df6['Sentiment_svc']

In [58]:
df1

,Tweet,Sentiment_nb,Sentiment_rf,Sentiment_lg,Sentiment_sgd,Sentiment_xgb,Sentiment_svm
0,bianca andreescu forced withdraw madrid open t...,Positive,Positive,Negative,Negative,Negative,Positive
1,farce last year recognizing handful talent cont…,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral
2,brazil records new coronavirus cases additiona...,Negative,Neutral,Neutral,Neutral,Neutral,Neutral
3,akbarowaisimim one point praying iss wabah ka ...,Positive,Neutral,Positive,Positive,Positive,Negative
4,uaetonight stand solidarity india prominent la...,Negative,Neutral,Negative,Neutral,Neutral,Neutral
...,...,...,...,...,...,...,...
149983,nearly people localities received shots april ...,Negative,Neutral,Neutral,Neutral,Neutral,Neutral
149984,ways fight must teach children right way right...,Positive,Negative,Negative,Negative,Negative,Negative
149985,ontario government house leader paul calandra ...,Positive,Neutral,Negative,Neutral,Neutral,Neutral
149986,dog really said glazersout indianeedsoxygen co...,Negative,Neutral,Neutral,Neutral,Neutral,Neutral
149987,himanta biswa sarma mentioned assam sufficient...,Positive,Neutral,Neutral,Neutral,Neutral,Neutral